.password-eye {
    position: relative;
    width: 100%;
}

#togglePassword,
#toggleConfirmPassword {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 18px;
    color: #999;
}

.bg-none {
    background-image: none !important;
}

.is-invalid::placeholder {
    color: #ef4d56;
    opacity: 0.9;
}
