.password-eye {
    position: relative;
    width: 100%;
}

#togglePassword,
#toggleConfirmPassword {
    position: absolute;
    cursor: pointer;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    font-size: 18px;
    color: #999;
}

.bg-none {
    background-image: none !important;
}

.is-invalid::placeholder {
    color: #ef4d56;
    opacity: 0.9;
}
.fs15 {
    font-size: 15px;
}

.fs14 {
    font-size: 14px;
}

.bg-main {
    background-color: #22c55e;
}

.count span,
.count p {
    color: white !important;
}

.product-options {
    display: flex;
    gap: 10px;
}

.product-options .form-check {
    position: relative;
}

.product-options .form-check-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.product-options .form-check-label {
    border: 1px solid #ccc;
    padding: 10px 20px;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.product-options .form-check-input:checked + .form-check-label {
    /* background-color: #ff5722; */
    color: black;
    border-color: red;
}

.product-options .form-check-label:hover {
    background-color: #f5f5f5;
    border-color: #bbb;
}

.aspect-ratio {
    aspect-ratio: 1/1;
}

.star-rating .fa-star {
    font-size: 24px;
    cursor: pointer;
    color: #ccc; /* Màu sao chưa chọn */
}

.star-rating .fa-star.selected {
    color: #ffd700; /* Màu sao khi được chọn */
}

.product-reviews {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.review-item {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}

.user-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.review-content {
    padding-left: 15px;
}

.review-username {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
}

.star-rating {
    color: #ffd700; /* Màu vàng cho sao */
}

.review-text {
    margin: 5px 0;
    font-size: 16px;
}

.review-date {
    color: #999;
    font-size: 14px;
}

.star-rating .fa-star {
    font-size: 14px; /* Điều chỉnh kích thước nếu cần */
}

.star-rating .fa-solid {
    color: gold; /* Màu cho các sao được chọn */
}

.star-rating .fa-regular {
    color: gray; /* Màu cho các sao không được chọn */
}
